# On suit les liens symboliques
Options +FollowSymlinks
# Activation du mod rewrite d'Apache
RewriteEngine On
RewriteRule ^realisation/([a-z0-9\-]+)$ view.php?slug=$1
RewriteRule ^categorie/([a-z0-9\-]+)$ index.php?category=$1